body {
    height: 2000px;
}

h1 {
    margin-top: 50px;
}


/* div {
    width: 200px;
    height: 200px;
    position: absolute;
}

.satu {
    background-color: salmon;
    z-index: 1;
}

.dua {
    background-color: lightgreen;
    top: 100px;
    left: 100px;
}

.tiga {
    background-color: blue;
    top: 200px;
    left: 200px;
} */

.kotak {
    background-color: black;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    position: fixed;
    opacity: 0.7;
}

.kotak p {
    color: white;
    margin-top: 170px;
    text-align: center;
}

.close {
    background-color: white;
    border-radius: 50%;
    border: 5px solid black;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-family: arial;
}