.navigasi {
    background-color: rgb(123, 220, 123);
}

.main {
    background-color: aqua;
}

.main span {
    color: yellow;
}

.navigasi li {
    display: inline;
}

a {
    background-color: red;
    padding: 5px;
    text-decoration: none;
}

img {
    width: 200px;
}

h1,
h2,
p {
    background-color: brown;
}