h1 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: normal;
    font-variant: small-caps;
    font-style: italic;
}

p {
    color: green;
    font-family: arial, verdana, sans-serif;
    font-style: oblique;
    line-height: 50px;
}