* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    /* background-color: #ddd; */
    font-size: 18px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    margin: 50px;
    background-image: url("img/y-so-serious-white.png");
}


/* Container */

.container {
    display: grid;
    gap: 10px;
}


/* Header */

.header {
    display: grid;
    grid-template-areas: 'hero hero feature-1''hero hero feature-2';
}

.hero {
    grid-area: hero;
    min-height: 350px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("img/20220602_161745.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

.features {
    background-color: #000;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("img/1.jpg");
    background-size: cover;
    background-position: center;
}

.feature-2 {
    grid-area: feature-2;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("img/20220630_210652.jpg");
    background-size: cover;
    background-position: center;
}

.features .price {
    font-size: 3em;
    font-weight: 200;
    z-index: 999;
}

.features .item {
    z-index: 999;
}


/* Navigation */

.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.3em;
    color: #e8b900;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.menu .brand span {
    color: rgb(169, 0, 0);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    display: block;
    text-decoration: none;
    background-color: rgb(234, 145, 56);
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}


/* Hamburger Menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 99;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(234, 145, 56);
    border-radius: 3px;
    transition: all 0.5s;
}


/* Hamburger Menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: white;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: white;
}


/* Services */

.services {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.services h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 50px;
}

.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon img {
    width: 20%;
}

.service h3 {
    font-size: 1.5em;
    color: #aaa;
}

.service p {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8em;
}

.service .button {
    --color: rgb(234, 145, 56);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    text-decoration: none;
}

.service .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.service .button:hover {
    color: #fff;
}

.service .button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.service .button:hover:before {
    top: -30px;
    left: -30px;
}

.service .button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}


/* About */

.abouts {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 80%));
    justify-content: center;
}

.abouts h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 40px;
}

.about {
    /* display: flex; */
    display: grid;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 2em;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 50%));
    /* grid-template-rows: 1fr, 1fr; */
    justify-content: space-around;
    margin-bottom: -150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about video {
    width: 100%;
    height: 70%;
}


/* Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

.gallery img {
    height: 80%;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    background-color: brown;
    color: white;
    text-align: center;
}

footer p {
    padding: 20px;
}


/* Responsive Breakpoint */

@media screen and (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero>* {
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .gallery {
        margin-top: 150px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        background-image: url('img/1.jpg');
        background-size: cover;
        background-position: center;
    }

    .hero::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .menu {
        order: -1;
        justify-items: end;
    }

    .menu-toggle {
        display: flex;
    }

    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgb(234, 145, 56);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }

    .services {
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
    }

    .about {
        grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
        display: block;
        margin-bottom: 5px;
        /* grid-template-rows: 1fr, 1fr; */
        /* justify-content: space-around; */
    }

    .abouts h2 {
        margin-bottom: 0;
    }

    .about video {
        height: 65%;
    }

    .gallery {
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    body {
        margin: 15px;
    }

    .header {
        grid-template-areas: "hero""feature-1""feature-2";
    }

    .abouts {
        margin-bottom: 150px;
    }

    .gallery {
        margin-top: 0;
    }
}