body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    color: green;
}

ul li a {
    color: orange;
}

ol li a {
    color: red;
}

#p1 {
    color: rgb(112, 118, 6);
}

.p2 {
    color: purple;
}

.cetak-tebal {
    font-weight: bold;
}

p.cetak-tebal {
    font-size: 30px;
}