.kotak1 {
  width: 300px;
  height: 300px;
  background-color: #39b54a;
  margin: 50px auto;
  /* angka -20px adalah spread atau size tambahan bayangan */
  /* jika angka 0 atau 30px diganti minus maka bayangan berlawanan */
  box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.75);
  transition: 0.9s;
  background-image: url(../img/1480775416178.jpg);
  background-size: cover;
}

.kotak1:hover {
  box-shadow: 0 80px 10px -40px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  background-image: url(../img/photo.png);
}

.kotak2 {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  background-color: green;
  box-shadow: inset 0 20px 10px 20px rgb(0, 0, 0);
  transition: 1s;
}

.kotak2:hover {
  background-color: green;
  box-shadow: 0 80px 10px -40px black;
  margin-top: 40px;
}

.kotak3 {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  background-color: green;
  box-shadow: 0 0 0 5px red, 0 0 0 10px green, 0 0 0 15px yellow,
    0 0 0 20px orange;
  border-radius: 50%;
}
